<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
			location="classpath:application.properties"/>
	<!-- Define your beans here -->

	<!-- define the dependency -->
	<bean id="myFortune"
		  class="com.luv2code.springdemo.demo.HappyFortuneService">
	</bean>

	<bean id="myCoach"
		  class="com.luv2code.springdemo.demo.BaseballCoach">
		<constructor-arg ref="myFortune"/>
	</bean>

	<bean id="myCoach1"
		  class="com.luv2code.springdemo.demo.TrackCoach">
		<constructor-arg ref="myFortune"/>
	</bean>

	<bean id="myCoach2"
		  class="com.luv2code.springdemo.demo.CricketCoach">
		<property name="fortuneService" ref="myFortune"/>
		<!--inject of literal value-->
		<property name="address" value="Mashhad city :-)+${foo.address}"/>
	</bean>

</beans>





